/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.cicon {
    display: inline-block;
    background-size: 42.46875rem 38.8125rem;
}
.icon-abo_ico_selec {
  background-image: url(../images/sprite.png);
  background-position: -5.15625rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-abo_ico_unsel {
  background-image: url(../images/sprite.png);
  background-position: -11.28125rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-add_ico_city {
  background-image: url(../images/sprite.png);
  background-position: -31.59375rem -18.5rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-add_ico_exc {
  background-image: url(../images/sprite.png);
  background-position: 0rem -30.6875rem;
  width: 4.375rem;
  height: 4.375rem;
}
.icon-add_ico_kdw {
  background-image: url(../images/sprite.png);
  background-position: -33rem -18.5rem;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-add_ico_sug {
  background-image: url(../images/sprite.png);
  background-position: -34.40625rem -18.5rem;
  width: 1.75rem;
  height: 0.875rem;
}
.icon-add_menu_icon {
  background-image: url(../images/sprite.png);
  background-position: -14.53125rem -33.78125rem;
  width: 0.9375rem;
  height: 0.9375rem;
}
.icon-bala_ban_img {
  background-image: url(../images/sprite.png);
  background-position: 0rem -10.78125rem;
  width: 23.4375rem;
  height: 9.375rem;
}
.icon-bala_ico_rule {
  background-image: url(../images/sprite.png);
  background-position: -23.59375rem -18.5rem;
  width: 3.9375rem;
  height: 1.25rem;
}
.icon-box_shut {
  background-image: url(../images/sprite.png);
  background-position: -40.65625rem -27.65625rem;
  width: 1.5625rem;
  height: 1.5625rem;
}
.icon-cou_img {
  background-image: url(../images/sprite.png);
  background-position: 0rem -20.3125rem;
  width: 22.5rem;
  height: 7.1875rem;
}
.icon-det_bal_rec {
  background-image: url(../images/sprite.png);
  background-position: -14.8125rem -30.6875rem;
  width: 2.5rem;
  height: 2.5rem;
}
.icon-det_def_bap {
  background-image: url(../images/sprite.png);
  background-position: -22.78125rem -30.6875rem;
  width: 2.5rem;
  height: 2.5rem;
}
.icon-det_def_ded {
  background-image: url(../images/sprite.png);
  background-position: -33.40625rem -30.6875rem;
  width: 2.5rem;
  height: 2.5rem;
}
.icon-det_env_inc {
  background-image: url(../images/sprite.png);
  background-position: -28.09375rem -30.6875rem;
  width: 2.5rem;
  height: 2.5rem;
}
.icon-det_fre_spe {
  background-image: url(../images/sprite.png);
  background-position: -20.125rem -30.6875rem;
  width: 2.5rem;
  height: 2.5rem;
}
.icon-det_ord_bap {
  background-image: url(../images/sprite.png);
  background-position: -17.46875rem -30.6875rem;
  width: 2.5rem;
  height: 2.5rem;
}
.icon-det_ord_ded {
  background-image: url(../images/sprite.png);
  background-position: -25.4375rem -30.6875rem;
  width: 2.5rem;
  height: 2.5rem;
}
.icon-det_oth_inc {
  background-image: url(../images/sprite.png);
  background-position: -30.75rem -30.6875rem;
  width: 2.5rem;
  height: 2.5rem;
}
.icon-det_oth_spe {
  background-image: url(../images/sprite.png);
  background-position: -12.15625rem -30.6875rem;
  width: 2.5rem;
  height: 2.5rem;
}
.icon-est_ico_next {
  background-image: url(../images/sprite.png);
  background-position: -17.8125rem -33.78125rem;
  width: 0.9375rem;
  height: 0.9375rem;
}
.icon-eva_ico_h {
  background-image: url(../images/sprite.png);
  background-position: -3.4375rem -37.25rem;
  width: 1.5625rem;
  height: 1.5625rem;
}
.icon-eva_ico_y {
  background-image: url(../images/sprite.png);
  background-position: -1.71875rem -37.25rem;
  width: 1.5625rem;
  height: 1.5625rem;
}
.icon-fh_icon {
  background-image: url(../images/sprite.png);
  background-position: -40.125rem -30.6875rem;
  width: 1.875rem;
  height: 1.875rem;
}
.icon-head-back {
  background-image: url(../images/sprite.png);
  background-position: -36.0625rem -30.6875rem;
  width: 1.875rem;
  height: 1.875rem;
}
.icon-home_dis_icon {
  background-image: url(../images/sprite.png);
  background-position: -11.25rem -33.78125rem;
  width: 0.9375rem;
  height: 0.9375rem;
}
.icon-home_next_icon {
  background-image: url(../images/sprite.png);
  background-position: -33.75rem -27.65625rem;
  width: 2.1875rem;
  height: 2.1875rem;
}
.icon-home_peo_icon {
  background-image: url(../images/sprite.png);
  background-position: -10.15625rem -33.78125rem;
  width: 0.9375rem;
  height: 0.9375rem;
}
.icon-home_per_icon {
  background-image: url(../images/sprite.png);
  background-position: -29.65625rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-home_point1_icon {
  background-image: url(../images/sprite.png);
  background-position: -41.5625rem -16.96875rem;
  width: 0.375rem;
  height: 0.375rem;
}
.icon-home_point2_icon {
  background-image: url(../images/sprite.png);
  background-position: -42.09375rem -16.96875rem;
  width: 0.375rem;
  height: 0.375rem;
}
.icon-home_rem_icon {
  background-image: url(../images/sprite.png);
  background-position: -16.71875rem -33.78125rem;
  width: 0.9375rem;
  height: 0.9375rem;
}
.icon-home_selec_icon {
  background-image: url(../images/sprite.png);
  background-position: -15.625rem -33.78125rem;
  width: 0.9375rem;
  height: 0.9375rem;
}
.icon-home_time_icon {
  background-image: url(../images/sprite.png);
  background-position: -13.4375rem -33.78125rem;
  width: 0.9375rem;
  height: 0.9375rem;
}
.icon-home_unsel_icon {
  background-image: url(../images/sprite.png);
  background-position: -40.78125rem -26.0625rem;
  width: 0.9375rem;
  height: 0.9375rem;
}
.icon-img_cou {
  background-image: url(../images/sprite.png);
  background-position: -30.625rem -11.46875rem;
  width: 6.875rem;
  height: 6.875rem;
}
.icon-img_null {
  background-image: url(../images/sprite.png);
  background-position: -22.65625rem -20.3125rem;
  width: 6.875rem;
  height: 6.875rem;
}
.icon-img_trip {
  background-image: url(../images/sprite.png);
  background-position: -23.59375rem -11.46875rem;
  width: 6.875rem;
  height: 6.875rem;
}
.icon-input_ico_del {
  background-image: url(../images/sprite.png);
  background-position: -31.1875rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-loading_1 {
  background-image: url(../images/sprite.png);
  background-position: -40.78125rem -24.34375rem;
  width: 1.5625rem;
  height: 1.5625rem;
}
.icon-loading_2 {
  background-image: url(../images/sprite.png);
  background-position: -38.4375rem -27.65625rem;
  width: 2.0625rem;
  height: 2.0625rem;
}
.icon-markup_img {
  background-image: url(../images/sprite.png);
  background-position: -23.59375rem 0rem;
  width: 18.875rem;
  height: 11.3125rem;
}
.icon-more_icon {
  background-image: url(../images/sprite.png);
  background-position: -38.09375rem -30.6875rem;
  width: 1.875rem;
  height: 1.875rem;
}
.icon-own_ico_bal {
  background-image: url(../images/sprite.png);
  background-position: -6.6875rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-own_ico_cou {
  background-image: url(../images/sprite.png);
  background-position: -8.21875rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-own_ico_det {
  background-image: url(../images/sprite.png);
  background-position: -9.75rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-own_ico_exit {
  background-image: url(../images/sprite.png);
  background-position: -23.75rem -27.65625rem;
  width: 7.5rem;
  height: 2.1875rem;
}
.icon-own_ico_gain {
  background-image: url(../images/sprite.png);
  background-position: -12.8125rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-own_ico_int {
  background-image: url(../images/sprite.png);
  background-position: -14.34375rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-own_ico_serv {
  background-image: url(../images/sprite.png);
  background-position: -15.875rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-own_ico_term {
  background-image: url(../images/sprite.png);
  background-position: -17.40625rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-own_ico_trip {
  background-image: url(../images/sprite.png);
  background-position: -18.9375rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-own_ico_wall {
  background-image: url(../images/sprite.png);
  background-position: -20.46875rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-pay_ico_bal {
  background-image: url(../images/sprite.png);
  background-position: -22rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-pay_ico_wx {
  background-image: url(../images/sprite.png);
  background-position: -23.53125rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-pay_ico_zf {
  background-image: url(../images/sprite.png);
  background-position: -25.0625rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-pro_ico_b {
  background-image: url(../images/sprite.png);
  background-position: -27.6875rem -18.5rem;
  width: 3.75rem;
  height: 1.25rem;
}
.icon-pro_ico_car {
  background-image: url(../images/sprite.png);
  background-position: -2.03125rem -35.21875rem;
  width: 1.875rem;
  height: 1.3125rem;
}
.icon-pro_ico_dd {
  background-image: url(../images/sprite.png);
  background-position: 0rem -27.65625rem;
  width: 15.3125rem;
  height: 2.875rem;
}
.icon-pro_ico_dw {
  background-image: url(../images/sprite.png);
  background-position: 0rem -37.25rem;
  width: 1.5625rem;
  height: 1.5625rem;
}
.icon-pro_ico_h {
  background-image: url(../images/sprite.png);
  background-position: -37.65625rem -16rem;
  width: 3.75rem;
  height: 1.5625rem;
}
.icon-pro_ico_hj {
  background-image: url(../images/sprite.png);
  background-position: 0rem -35.21875rem;
  width: 1.875rem;
  height: 1.875rem;
}
.icon-pro_ico_qd {
  background-image: url(../images/sprite.png);
  background-position: -31.40625rem -27.65625rem;
  width: 2.1875rem;
  height: 2.1875rem;
}
.icon-pro_ico_qp {
  background-image: url(../images/sprite.png);
  background-position: -15.46875rem -27.65625rem;
  width: 8.125rem;
  height: 2.875rem;
}
.icon-pro_ico_wz {
  background-image: url(../images/sprite.png);
  background-position: -9.0625rem -30.6875rem;
  width: 2.9375rem;
  height: 2.9375rem;
}
.icon-pro_ico_xc {
  background-image: url(../images/sprite.png);
  background-position: -29.6875rem -20.3125rem;
  width: 12.0625rem;
  height: 3.875rem;
}
.icon-pro_ico_zd {
  background-image: url(../images/sprite.png);
  background-position: -36.09375rem -27.65625rem;
  width: 2.1875rem;
  height: 2.1875rem;
}
.icon-rem_ico_bot {
  background-image: url(../images/sprite.png);
  background-position: -12.34375rem -33.78125rem;
  width: 0.9375rem;
  height: 0.9375rem;
}
.icon-rule_ico_clo {
  background-image: url(../images/sprite.png);
  background-position: -26.59375rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-rule_ico_unf {
  background-image: url(../images/sprite.png);
  background-position: -28.125rem -37.25rem;
  width: 1.375rem;
  height: 1.375rem;
}
.icon-share_ban_img {
  background-image: url(../images/sprite.png);
  background-position: 0rem 0rem;
  width: 23.4375rem;
  height: 10.625rem;
}
.icon-share_title_img {
  background-image: url(../images/sprite.png);
  background-position: -29.6875rem -24.34375rem;
  width: 10.9375rem;
  height: 2.8125rem;
}
.icon-star_h_icon {
  background-image: url(../images/sprite.png);
  background-position: -41.5625rem -16rem;
  width: 0.8125rem;
  height: 0.8125rem;
}
.icon-star_y__icon {
  background-image: url(../images/sprite.png);
  background-position: -36.3125rem -18.5rem;
  width: 0.8125rem;
  height: 0.8125rem;
}
.icon-trip_ico_car {
  background-image: url(../images/sprite.png);
  background-position: -9.0625rem -33.78125rem;
  width: 0.9375rem;
  height: 0.9375rem;
}
.icon-ver_ico_com {
  background-image: url(../images/sprite.png);
  background-position: -4.53125rem -30.6875rem;
  width: 4.375rem;
  height: 4.375rem;
}
.icon-ver_ico_warn {
  background-image: url(../images/sprite.png);
  background-position: -37.65625rem -11.46875rem;
  width: 4.375rem;
  height: 4.375rem;
}
